<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>reservation</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlets.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/nouvel-utilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creationClient</servlet-name>
    <servlet-class>servlets.creationClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creationClient</servlet-name>
    <url-pattern>/nouveau-client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creationRestaurant</servlet-name>
    <servlet-class>servlets.creationRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creationRestaurant</servlet-name>
    <url-pattern>/nouveau-restaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prendreRdv</servlet-name>
    <servlet-class>servlets.prendreRdv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prendreRdv</servlet-name>
    <url-pattern>/prendre-rendez-vous</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>envoiDemande</servlet-name>
    <servlet-class>servlets.envoiDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>envoiDemande</servlet-name>
    <url-pattern>/envoi-demande</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MesRdv</servlet-name>
  	<servlet-class>servlets.MesRdv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MesRdv</servlet-name>
  	<url-pattern>/vos_rendez_vous.php</url-pattern>
  </servlet-mapping>
</web-app>